<%= form_for @wine, html: {class: "form"} do |f| %>
<%= render 'shared/validation_errors', object: @wine %>

  <div class="form-group">
    <%= f.label :name %>
	<%= f.text_field :name, autofocus: true, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :year %>
    <%= f.text_field :year, class: "form-control" %>
  </div>
		
  <div class="form-group">
    <%= f.label :winery %>
    <%= f.text_field :winery, class: "form-control" %>
  </div>
		
  <div class="form-group">
    <%= f.label :country %>
    <%= f.select :country, Wine::COUNTRIES, {prompt: "Pick one"}, class: "form-control" %>
  </div>
				
  <div class="form-group">
    <%= f.label :varietal %>
    <%= f.select :varietal, Wine::VARIETALS, {prompt: "Pick one"}, class: "form-control" %>
  </div>

  <p>
    <%= f.submit class: "btn btn-default" %>
    <%= link_to 'Cancel', wines_path %>
  </p>
<% end %>