<article class="wine">
	<header>
		<h2><%= @wine.name %></h2>
	</header>

	<p>
		<label>Year:</label>
		<%= @wine.year %>
	</p>

	<p>
		<label>Winery:</label>
		<%= @wine.winery %>
	</p>
		
	<p>
		<label>Country:</label>
		<%= @wine.country %>
	</p>
		
	<p>
		<label>Varietal:</label>
		<%= @wine.varietal %>
	</p>	
</article>

<p>
	<%= link_to 'Top ' + @count.to_s + ' Wines', wines_path %> | <%= link_to 'Edit', edit_wine_path(@wine) %>
</p>

<p>
	<%= button_to 'Delete', @wine, method: :delete, data: {confirm: 'Are you sure?'} %>
</p>