<% content_for :name, @wine.name %>

<article class="form-horizontal">
  <header>
    <h2><%= @wine.name %></h2>
  </header>

  <div class="form-group">
    <label class="col-sm-2 control-label">
      Year:
    </label>
    <p class="form-control-static">
   	  <%= @wine.year %>
   	</p>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">
      Winery:
    </label>
    <p class="form-control-static">
      <%= @wine.winery %>
    </p>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">
      Country:
    </label>
    <p class="form-control-static">
      <%= @wine.country %>
    </p>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">
      Varietal:
    </label>
    <p class="form-control-static">
      <%= @wine.varietal %>
    </p>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">
      Average Rating:
    </label>
    <p class="form-control-static">
      <%= format_average_rating(@wine) %>
    </p>
  </div>
</article>

<p>
	<%= link_to 'Edit', edit_wine_path(@wine) %> | 
	<%= link_to 'Return', wines_path %> 
	<%= button_to 'Delete', @wine, method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-danger form-horizontal" %>
</p>

<p>
  Read <%= link_to pluralize(@wine.log_entries.size, 'review'), 
                        wine_log_entries_path(@wine) %>
</p>